/* .mainContainer{
    border: 2px solid rgb(95, 127, 173);
    height:70px; */
    /* margin-top: 10px;
}

.queContainer{
    border-bottom: 2px solid black;
    height:33px;
    padding-top: 2px;
    
    
}

.ansContainer{
   padding-top: 5px;
    
} */

.mainContainer{
    margin: 70px;
    margin-right: 150px;
}

